<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-passport-heading" data-cy="PassportCreateUpdateHeading">Create or edit a Passport</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_addtionTime">Addtion Time</label>
          <div class="d-flex">
            <input
              id="field_addtionTime"
              data-cy="addtionTime"
              type="datetime-local"
              class="form-control"
              name="addtionTime"
              formControlName="addtionTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_member">Member</label>
          <select class="form-control" id="field_member" data-cy="member" name="member" formControlName="member">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="memberOption.id === editForm.get('member')!.value?.id ? editForm.get('member')!.value : memberOption"
              *ngFor="let memberOption of membersCollection; trackBy: trackMemberById"
            >
              {{ memberOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_beer">Beer</label>
          <select class="form-control" id="field_beer" data-cy="beer" name="beer" formControlName="beer">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="beerOption.id === editForm.get('beer')!.value?.id ? editForm.get('beer')!.value : beerOption"
              *ngFor="let beerOption of beersSharedCollection; trackBy: trackBeerById"
            >
              {{ beerOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
